<h1>All Psots</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Title</th>
			<th>Status</th>
			<th>Allow Comments</th>
			<th>Body</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#each posts}}
		<tr>
			<td>{{id}}</td>
			<td><img src="/uploads/{{file}}" height="50px" alt="" class="img-responsive"></td>
			<td>{{title}}</td>
			<td>{{status}}</td>
			<td>{{allowComments}}</td>
			<td>{{body}}</td>
			<td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
			<td>
				<form action="/admin/posts/delete/{{id}}?_method=DELETE" method="post" accept-charset="utf-8">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>