      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
          </h1>

          <!-- Blog Post -->
          {{#each posts}}
          <div class="card mb-4">
            <img class="card-img-top" src="/uploads/{{file}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{title}}</h2>
              <p class="card-text">{{body}}</p>
              <a href="/post/{{slug}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{generateDate date "MMMM Do YYYY"}} by
              {{!-- <a href="#"></a> --}}
            </div>
          </div>
          {{/each}}
          <!-- Pagination -->
          {{!-- {{#if paginate.hasNextPages(pageCount) }} --}}
          <div class="navigation well-sm" id="pagination">
            <ul class="pagination justify-content-center mb-4">
              {{!-- {{#if paginate.hasPreviousPages}}
                <li class="previous">
                  <a href="{{paginate.href(true)}}" class=".prev">
                    <i class="fa fa-arrow-circle-left"> Previous</i>
                  </a>
                </li>
              {{/if}} --}}
              {{!-- {{#if pages}} --}}
                {{#each pages}}
                {{!-- {{url}} --}}
                  <li class="page-item">
                    <a href="{{url}}"  class=".btn.btn-default page-link">{{number}}</a>
                  </li>
                {{/each}}
              {{!-- {{/if}} --}}
              {{!-- {{#if paginate.hasNextPages(pageCount)}}
                <li class="next">
                  <a href="{{paginate.href().next()}}">
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </li>
              {{/if}} --}}
            </ul>
          </div>
          {{!-- {{/if}} --}}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          {{>home/sidebar}}
        </div>

      </div>
      <!-- /.row -->